.listings-container {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    gap: 10px;
    padding: 10px;
}
.listings-form {
    display: flex;
    flex-direction: column;
}