.properties-container {
    max-width: 1200px;

}
.properties-section {
   @media (max-width: 900px) {
    .properties-listing {
      grid-template-columns: 1fr;
    }
}
.properties-header h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    
}
.properties-header {
    text-align:left;
    margin-bottom: 20px;
    background-color:oklch(60.129% 0.20181 259.183);
    padding: 40px;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
}
.search-bar{
    text-align:left;
    gap: 30px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;

}
.search-inputs{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    height: 60px;

}
.search-inputs select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search-inputs input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
}
.properties-listing {
     display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    @media  (max-width: 900px) {
        
    }

.property-card {
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    border: 0px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin:auto;
}
img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}
.property-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: oklch(60.129% 0.20181 259.183);
}
h5{
    font-size: 1.5em;
    font-weight: bold;
    color: oklch(60.129% 0.20181 259.183);
}
}