.nav-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.menu-section{
  display: flex;
  gap: 40px;
  margin-top: 20px;
  
  
}

.menu-section a {
  text-decoration: none;
  color: black;
}



.home-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;



}

.home-inside-container {
  background-image: url('/src/assets/house1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 400px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;

}

.home-mid-section {
  
}